<%= form_for(@ichigo) do |f| %>

<div class="ichigo-container">

<p>Q1. いちごに一番求めるのは？</p>
<%= f.radio_button :question1,"A" %> とにかく甘い
<%= f.radio_button :question1,"B" %> 甘さと酸味のバランス
<%= f.radio_button :question1,"C" %> さっぱりした酸味

<p>Q2. 好きないちごの食感は？</p>
<%= f.radio_button :question2,"A" %> やわらかくてジューシー
<%= f.radio_button :question2,"B" %> しっかりした食感
<%= f.radio_button :question2,"C" %> どちらでもよい

<p>Q3. いちごの香りはどれくらい重視する？</p>
<%= f.radio_button :question3,"A" %> とても重視する
<%= f.radio_button :question3,"B" %> 少し重視する
<%= f.radio_button :question3,"C" %> あまり気にしない

<p>Q4. いちごのサイズは？</p>
<%= f.radio_button :question4,"A" %> 大きいほうが好き
<%= f.radio_button :question4,"B" %> 小粒でもOK
<%= f.radio_button :question4,"C" %> 気にしない

<p>Q5. いちごはどう食べることが多い？</p>
<%= f.radio_button :question5,"A" %> そのまま食べる
<%= f.radio_button :question5,"B" %> ケーキやスイーツ
<%= f.radio_button :question5,"C" %> 練乳や砂糖をかける

<p>Q6. いちごを選ぶとき重視するのは？</p>
<%= f.radio_button :question6,"A" %> 甘さ
<%= f.radio_button :question6,"B" %> 香り
<%= f.radio_button :question6,"C" %> さっぱり感

<p>Q7. 好きなフルーツの傾向は？</p>
<%= f.radio_button :question7,"A" %> マンゴー・バナナ
<%= f.radio_button :question7,"B" %> りんご・もも
<%= f.radio_button :question7,"C" %> キウイ・グレープフルーツ

<p>Q8. いちご狩りでは？</p>
<%= f.radio_button :question8,"A" %> 甘そうな大きいもの
<%= f.radio_button :question8,"B" %> 色が濃いもの
<%= f.radio_button :question8,"C" %> いろいろ食べ比べる

<p>Q9. スイーツの好みは？</p>
<%= f.radio_button :question9,"A" %> 甘いスイーツ
<%= f.radio_button :question9,"B" %> 甘さ控えめ
<%= f.radio_button :question9,"C" %> さっぱり系

<p>Q10. いちごの理想は？</p>
<%= f.radio_button :question10,"A" %> 甘くてジューシー
<%= f.radio_button :question10,"B" %> 甘酸っぱくて爽やか
<%= f.radio_button :question10,"C" %> 香りが強くてフルーティ

<br>

<%= f.submit "診断する" %>

</div>

<% end %>